
@model IEnumerable<ChurchBookingService.Models.DashBoardData>

@{

    var currentDate = DateTime.Now.Date;
    var upcomingServices = Model.Where(p => p.ServiceDate > currentDate.Date).ToList();
    var pastServices = Model.Where(p => p.ServiceDate <= currentDate.Date).ToList();

}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Upcoming Services </h4>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap">

                    @if (upcomingServices.Count() > 0)
                    {
                        foreach (var item in upcomingServices)
                        {
                            string style = $"style='width: {@item.NumberOfPeople}% '";

                            decimal perc = ((decimal)item.NumberOfPeople / (decimal)200.0) * 100;


                            string ServiceName = "";

                            if (item.ServiceNo == 1)
                            {
                                ServiceName = "1st Service ";
                            }
                            else if (item.ServiceNo == 2)
                            {
                                ServiceName = "2nd Service ";
                            }
                            else if (item.ServiceNo == 3)
                            {
                                ServiceName = "3rd Service ";
                            }
                            else if (item.ServiceNo == 4)
                            {
                                ServiceName = "4th Service ";
                            }
                            else if (item.ServiceNo == 5)
                            {
                                ServiceName = "5th Service ";
                            }

                            if (item.ServiceType != null)
                            {
                                ServiceName = ServiceName + (item.ServiceType == "childrensservice" ? " ( Childrens)" : "( Adults)");
                            }


                            string NumberOfPeople = "";

                            @if (item.NumberOfPeople == 1)
                            {
                                NumberOfPeople = item.NumberOfPeople.ToString() + " Person";
                            }
                            else
                            {
                                NumberOfPeople = item.NumberOfPeople.ToString() + " People";
                               
                            }



                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box bg-primary ChurchCard" data-churchid="@item.ChurchDayId" data-serviceno="@item.ServiceNo">
                                    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text"> @item.ServiceDate.ToString("dd-MMM-yyyy")   </span>

                                        <span class="info-box-number">@ServiceName</span>

                                        <div class="progress">
                                            <div class="progress-bar" @style></div>
                                        </div>
                                        <span class="progress-description">
                                            @NumberOfPeople ( @perc.ToString("N1") % Booked)
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>

                        }
                    }
                    else
                    {
                        <h5>No Upcoming Services</h5>
                    }

                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Past Services </h4>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap">

                    @if (pastServices.Count() > 0)
                    {
                        foreach (var item in pastServices)
                        {
                            string style = $"style='width: {@item.NumberOfPeople}% '";


                            decimal perc = 0;

                            //here we started having up to 70 people after this date
                            var theDateChangesStart = new DateTime(2020, 09, 30);

                            if (item.ServiceDate <= theDateChangesStart)
                            {
                                perc = ((decimal)item.NumberOfPeople / (decimal)64.0) * 100;
                            }
                            else
                            {
                                //here we started having up to 200 people after this date
                                var theDateChangesStart2 = new DateTime(2021, 01, 18);

                                if (item.ServiceDate <= theDateChangesStart2)
                                {
                                    perc = ((decimal)item.NumberOfPeople / (decimal)70.0) * 100;
                                }
                                else
                                {
                                    perc = ((decimal)item.NumberOfPeople / (decimal)200.0) * 100;
                                }


                            }



                            string ServiceName = "";

                            if (item.ServiceNo == 1)
                            {
                                ServiceName = "1st Service ";
                            }
                            else if (item.ServiceNo == 2)
                            {
                                ServiceName = "2nd Service ";
                            }
                            else if (item.ServiceNo == 3)
                            {
                                ServiceName = "3rd Service ";
                            }
                            else if (item.ServiceNo == 4)
                            {
                                ServiceName = "4th Service ";
                            }
                            else if (item.ServiceNo == 5)
                            {
                                ServiceName = "5th Service ";
                            }

                            if (item.ServiceType != null)
                            {
                                ServiceName = ServiceName + (item.ServiceType == "childrensservice" ? " ( Childrens)" : "( Adults)");
                            }


                            string NumberOfPeople = "";

                            @if (item.NumberOfPeople == 1)
                            {
                                NumberOfPeople = item.NumberOfPeople.ToString() + " Person";
                            }
                            else
                            {
                                NumberOfPeople = item.NumberOfPeople.ToString() + " People";

                            }


                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box bg-secondary ChurchCard" data-churchid="@item.ChurchDayId" data-serviceno="@item.ServiceNo">
                                    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text"> @item.ServiceDate.ToString("dd-MMM-yyyy")   </span>

                                        <span class="info-box-number">@ServiceName</span>

                                        <div class="progress">
                                            <div class="progress-bar" @style></div>
                                        </div>
                                        <span class="progress-description">
                                            @NumberOfPeople ( @perc.ToString("N1") % Booked)
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>

                        }
                    }
                    else
                    {
                        <h5>No Past Services</h5>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

