@model IEnumerable<ChurchBookingService.Models.ServiceBooked>

@{
    Layout = "/Views/Shared/_Layout.cshtml";



}

<link href="~/plugins/toastr/build/toastr.css" rel="stylesheet" />
<link href="~/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-6">
        <a href="/Home/Index" class="btn btn-outline-primary btn-lg">Dashboard</a>

    </div>
    <div class="col-md-6">
        <form method="post" action="/Home/DeleteChurchDay">
            @if (Model != null && Model.Count() > 0)
            {
                <input type="hidden" name="churchDayId" value="@Model.FirstOrDefault().ChurchDayId" />
             
            }
            else
            {
                <input type="hidden" name="churchDayId" value="0" />
                
            }

            <button type="submit" onclick='if(!confirm("Are you sure you want to Delete ?")){ return false; }' class="btn btn-outline-danger btn-lg float-right">Delete Service</button>
        </form>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="card border rounded" style="margin-top:20px; padding:0px;">
            <div class="card-header bg-primary" style="border:none;">
                <div class="row">
                    <div class="col-md-6">
                        <h5> Service Date : @Model.FirstOrDefault().ChurchDay.ServiceDate.ToString("dd-MMM-yyyy") </h5>
                    </div>

                    <div class="col-md-6">
                        <h5>Service Number : @Model.FirstOrDefault().ServiceNo</h5>
                    </div>
                </div>

            </div>
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-bordered table-sm" id="example1">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Gender
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    Phone No
                                </th>
                                <th>
                                    Residence
                                </th>
                                <th>
                                    Booking Date
                                </th>

                                <th>
                                    Proposed Seat
                                </th>
                                <th>
                                    Actual Seat
                                </th>
                                <th>
                                    Temp
                                </th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>

                            @{ int count = 1;}

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Member.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Member.Gender)
                                    </td>
                                    <td>

                                        @Html.DisplayFor(modelItem => item.Member.Age)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Member.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Member.Residence)
                                    </td>
                                    <td>
                                        @item.DateCreated.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>@Html.DisplayFor(m => item.SeatNo)</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @*@using (Html.BeginForm("CancelBooking", "Home", FormMethod.Get, htmlAttributes: new { }))
                                        {
                                            <input type="hidden" class="bookingId" value="@item.Id" name="Id" />
                                        }*@

                                        <button id="btnDelete-@item.Id" type="button" data-id="@item.Id" class="btn btn-sm btn-danger btnCancelBooking ladda-button">Cancel Booking</button>
                                    </td>

                                </tr>

                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <!-- DataTables -->
    @*<script src="~/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>

        <script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>


        <script src="~/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.js"></script>



        <script src="~/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.js"></script>*@
    <script src="~/plugins/toastr/build/toastr.min.js"></script>
    <script src="~/plugins/ladda/spin.min.js"></script>
    <script src="~/plugins/ladda/ladda.min.js"></script>


    <script>

        $(function () {

            $('#example1').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf'
                ]
            });

           

        })

      
        $("#example1").on('click', '.btnCancelBooking', function () {

            var bookingId = $(this).data("id");
            var btnId = "#btnDelete-" + bookingId;
            var Id = bookingId;

            console.log("hdhdhd");

            if (confirm("Are you sure you want to cancel booking?")) {

                console.log("deleting ...");



                //var button = document.getElementById(btnId);

                //var l = Ladda.create(button);


                $.ajax({
                    url: "/Home/CancelBooking",
                    method: "POST",
                    data: { Id: Id },
                    beforeSend: function () { toastr.info('Please be patient as we cancel the booking', 'GCI Utawala'); },
                    success: function (obj) {

                        if (obj == "success") {
                            toastr.success('Booking Cancellled Successfully', 'GCI Utawala');
                            window.location.reload();


                        }
                        else if (obj == "serviceFullyBooked") {
                            toastr.error('Ooops service fully booked Please Select Next Service', 'GCI Utawala');
                        }
                        else if (obj == "MemberAlreadyBooked") {
                            toastr.info('Ooops seems you have already booked this service', 'GCI Utawala');
                        }
                        else {
                            toastr.error('Ooops something went wrong', 'GCI Utawala');
                        }



                    },
                    error: function (x, y, z) {
                        toastr.error('Ooops something went wrong', 'GCI Utawala');
                    },
                    complete: function () {

                    }
                })

            } else {
                console.log("Aborting ...");
            }
        })


       

      


                //$(".frmCancelBooking").on('submit',function (e) {
                //    e.preventDefault();

                //    var id = $(this).serialize();

                //    //console.log(booking);

                //    //var button = document.getElementById("btnSave");

                //    //var l = Ladda.create(button);


                //    $.ajax({
                //        url: "/Home/CancelBooking",
                //        method: "POST",
                //        data: id,
                //        beforeSend: function () { toastr.info('Please be patient as we cancel the booking', 'GCI Utawala'); },
                //        success: function (obj) {

                //            if (obj == "success") {
                //                toastr.success('Booking Cancellled Successfully', 'GCI Utawala');
                //                window.location.reload();


                //            }
                //            else if (obj == "serviceFullyBooked") {
                //                toastr.error('Ooops service fully booked Please Select Next Service', 'GCI Utawala');
                //            }
                //            else if (obj == "MemberAlreadyBooked") {
                //                toastr.info('Ooops seems you have already booked this service', 'GCI Utawala');
                //            }
                //            else {
                //                toastr.error('Ooops something went wrong', 'GCI Utawala');
                //            }



                //        },
                //        error: function (x, y, z) {
                //            toastr.error('Ooops something went wrong', 'GCI Utawala');
                //        },
                //        complete: function () {

                //        }
                //    })

                //    return false;

                //})

                            //$("#example1").DataTable({
                            //    "responsive": true,
                            //    "autoWidth": false,
                            //});
    </script>
}

